node_modules
.DS_Store
dist
.eslintcache
**/coverage
.idea
output
packages/extension/media
/tests/playwright/tests/

# Vim
*.swp
*.swo

# npm
.npm

# VSCode
.vscode/*
!.vscode/settings.json

# agentready
.agentready/
